<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidya.noteappkotlin">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/notes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notes"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".ImgDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ImgEditActivity"
            android:exported="false" />
        <activity
            android:name=".ImgAddActivity"
            android:exported="false" />
        <activity
            android:name=".ImgListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>